/* Structure */
html{
	background: #eee;
}
body {
  padding: 0px;
  background: #fff;
  color: #333;
  margin: 0 auto;
  max-width: 1000px;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

a {
  color: #105672;
}

header {
	background: url(http://cs323829.userapi.com/v323829017/2a9b/CF7y7LKC9wQ.jpg) no-repeat  #f2d2d7; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 20% 20%;
	padding: .6em 3em;
	line-height: 1;
}

header h1{
	color: #D10A14;
	display: inline-block;
	background-color: #F2D5D7;
	opacity: 0.6;

}

header span{
	float: right;
	text-align: right;
	display: inline-block;
	background-image: url(http://i.minus.com/ibtK0AopnR5fFL.png);
	height: 120px;
	width: 200px;
}

header span:hover{
	opacity:0.9;	
}


[role=main]{
	padding:1.5em 3em;
}
article{
	padding: 1em 0;
}
footer{
	background: #333;
	color: #fff;
	padding: .1em 3em;
}

/* Typography */

p{
	font: 1em/1.5 Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
}


img{
	max-width: 100%;
	height: auto;
}


blockquote{
	float: left;
	margin: 1em 3em;
}
blockquote p{
	font-size: 1.4em;
	line-height: 1.2;
	font-weight: 700;
	font-style:italic;
}
a{
	font: 700 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none
}
a:hover, a:focus{
	color: #000;
}
a:active{
	position: relative;
	top:1px;
}

/* Tabs */

.js-on #tabs article
{
	display:none
}

#tabs, #tabs nav a.active{
	background: #f7f0f3;
	color: #222;
}

#tabs nav
{
	position: relative;
	overflow: hidden;
	display: table;
	background-color: #EEE9BF;
	width: 100%;
}



#tabs nav a
{
	width:150px;
	display:table-cell;
	padding:1em;
	text-align:center;
	color: #262424;
}

#tabs nav a:hover,#tabs nav a:focus
{
	background:#eee
	
}
#tabs nav a.active{
	color: #d10a14;
}

#tabs article
{
	padding:2em;
	background-color: #F7F0F3;
}
#tabs p {
text-indent: 50px;
}
.js-on #tabs article.active
{
	display:block;
}
#tabs #mobiles{
	display:none;
	border-radius: 0;
}
#tabs #mobiles a, #tabs #mobiles a:first-child, #tabs #mobiles a:last-child{
	width:200px;
	border-radius: 0;
}


/* Media queries */ 
@media screen and (min-width:900px)
{
	body{font-size: 1.1em;}
}

@media screen and (max-width:600px)
{
	#tabs nav{
			display: none;
			position: relative;
		}
		#tabs #mobiles{
		display:block;
		}
		#tabs article {
		display:block;
		}
}
@media screen and (max-width:480px)
{
	blockquote{
	float: none;
	}

	header nav a{
		padding:.7em .8em
	}
	header nav{
		float: none;
		margin: -.5em -3em 0;
		background: #000;
		overflow: hidden;
		text-align: left
	}
	header nav a{
		border-right: 1px solid #222
	}
	[role=main]{
	padding:1.5em 2em;
	}
	header nav div{
	display: none;
	}

}
